.home-ad-container{
    padding: 10px 5%;
    text-align: center;
}
.home-ad-container h1{
    font-size: clamp(1.5rem ,4vw , 2rem);
    padding-bottom: 10px;
    font-weight: 500;
}
.home-ad{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.home-ad img{
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.home-ad img:hover{
    transform: scale(1.01);
}


@media screen and (max-width :630px) {
 .home-ad{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.home-ad img{
    width: 100%;
    height: 200px;
}  
.home-ad-container h1{
    font-size: 1.2rem;
} 
}