.bestseller-container{
  padding: 10px 5%;
}

.bestseller-container h1{
    text-align: center;
    font-size: clamp(1.5rem , 4vw , 2rem)
}

.bestseller-container span{
    text-align: center;
    display: block;
    color:#666;
    margin-bottom: 10px;
}


.bestseller{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px ,1fr));
    gap: 10px;
}


@media screen and (max-width:630px){

.bestseller{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
   
.bestseller-container h1{
    font-size: 1.2rem;
}
.bestseller-container span{
    font-size: 0.7rem;
    padding: 0 50px;
    margin-top: 5px;
}

}